<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coderchain.sa.frisk4">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS"/>
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fr"
        android:label="Frisk"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".OnBoot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="DashBoard"
            android:screenOrientation="portrait"></activity>

        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PIN"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".smser"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </service>

        <activity android:name=".lock"></activity>

        <receiver
            android:name=".MyAdminReceiver"
           >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".How"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Comm"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".unlock"></activity>
        <activity android:name=".unlockC"></activity>

        <activity android:name=".commandlist"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".commlist"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
